html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  scroll-behavior: smooth;
}
input, button{
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
  margin-block-start: 0px;
  margin-block-end: 0px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}