.todoItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    box-shadow: 9px 10px 63px -23px rgba(0,0,0,0.54);
    border-radius: 10px;
}

.todoItemCompleted {
    background-color: #3fff9f5d;
    >span {
        text-decoration: line-through;
    }
}

.buttonList {
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        background-color: #b30000;
    }
}