.containerList{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px 8%;
    justify-content: center;
}

.todoList {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.addTaskList{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.buttonAddTask{
    display: block;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        background-color: #0056b3;
    }

    &:disabled{
        opacity: .5;
        pointer-events: none;
    }
}

.inputTask{
    height: 30px;
}